body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: left;
}
.header img {
    height: 40px;
}
.navbar {
    background-color: #002244;
    color: #fff;
    display: flex;
    padding: 10px;
    font-size: 14px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}
.navbar a:hover {
    background-color: #004488;
    border-radius: 5px;
}
.container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}
.search-bar {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start; /* Alinear a la izquierda */
    gap: 10px;
    width: 100%; /* Ajustar la longitud horizontal al 100% */
}
.search-bar input[type="text"] {
    padding: 10px;
    width: 10%; /* Ajustar el ancho del input al 25% del contenedor */
    font-size: 16px;
    text-align: left;
}
.search-bar button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid.centered {
    display: grid;
    grid-template-columns: auto; /* Hacer que el grid abarque todo el contenedor de manera dinámica */
    gap: 20px;
}

.grid.full-width {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Hacer que ambos elementos abarquen todo el contenedor en la misma fila */
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card h3 {
    margin: 0;
    font-size: 18px;
    color: #0066cc; /* Cambiar el color del título a un celeste apenas más claro */
    margin-bottom: 10px;
    text-align: left; /* Alinear el título a la izquierda */
}
.card p {
    margin: 5px 0;
    color: #555;
    text-align: left; /* Alinear el texto a la izquierda */
}
.footer {
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: #fff;
}



.check-icon {
    color: #28a745; /* Verde */
    font-size: 18px;
    vertical-align: middle;
}

/* Asegurar que las tablas sean consistentes en su ancho y estén centradas */
#cuentaCorriente table, #historialCliente table {
width: 100%;
margin: 0 auto;
border-collapse: collapse;
}

/* Estilos para las celdas de las tablas */
#cuentaCorriente table th, #cuentaCorriente table td,
#historialCliente table th, #historialCliente table td {
padding: 10px;
border: 1px solid #ddd;
}

/* Títulos de las secciones centrados */
#cuentaCorriente h3, #historialCliente h3 {
text-align: left; /* Alinear el título a la izquierda */
color: #0066cc; /* Cambiar el color del título a un celeste apenas más claro */
}

/* Asegurar consistencia en la visualización */
.card {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
padding: 20px;
margin-bottom: 20px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    position: relative;
    overflow-y: auto;
    max-height: 50%;
}

.popup-header {
    text-align: left;
    margin-bottom: 10px;
}

.popup-header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.close-btn:hover {
    color: #c9302c;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tablink {
    background-color: #e3e8ec;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.tablink:hover {
    background-color: #ffffff;
}

.tablink.active {
    background-color: #ffffff;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}

.tabcontent p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.tabcontent input, .tabcontent select {
    width: 60%;
    padding: 5px;
}

.tabcontent h3 {
    margin-top: 0;
}

.cliente-info-display {
    font-size: 30px; /* Reducir el tamaño de la fuente en dos puntos */
    margin-left: 10px;
}

.advertencia {
    background-color: #ffdddd;
    color: #d9534f;
    padding: 6px;
    margin-bottom: 5px;
    border: 1px solid #d9534f;
    border-radius: 5px;
    font-weight: bold;
    text-align: left; /* Alinear el texto a la izquierda */
    width: auto; /* Ajustar el cuadro al contenido */
}

#cargaReclamos .grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

#cargaReclamos select {
    width: 32%;
    padding: 10px;
    font-size: 16px;
}

.observaciones-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#observaciones {
    width: 66%; /* Ajustar el ancho del cuadro de observaciones al tamaño de dos listados */
    margin-left: 0; /* Alinear a la izquierda */
    float: left; /* Alinear a la izquierda */
}

.cargando {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cargando-contenido {
    text-align: center;
    color: #fff;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 6s linear infinite; /* Cambiar la duración de 500ms a 6s */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
